body {
    font-family: sans-serif;
   background-image: radial-gradient(black,darkblue,black);
  background-size: auto 10000px;
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
        display: flex;
        align-items: center;
}

.button {
    background-color: #60c3f1b4;
    text-decoration: none;
    padding:20px 15px 17px 15px;
    font-size: 24px;
    border-radius: 10px;
    position: fixed;
    right: 25px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
        display: flex;
}

.nav-link {
    font-size: 24px;
    color: #A7BAE6;
    text-decoration: none;
    padding: 10px;
    display: block;
}

h1 {
    text-align: center;
    color: #A7BAE6;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
        display: flex;
        margin: 0px auto 0px auto;
        max-width: 1100px;
        justify-content: center;
}

article {
    background-color: #A7BAE6;
    padding: ;
    width: 400px;
    margin: 20px;
    text-align: center;
    height: 500px;
    justify-content: center;
    border-radius: 30px;
    border: 5px solid black;
}

.article-but {
    text-decoration: none;
    background-color: #AC13A6;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    border-radius: 30px;
    border: 5px solid lightgray;
}

footer {
    background-color:#A7BAE6;
    display: flex;
    position: relative; 
    bottom: 0px;
    padding-right: auto;
    padding-top: 20px;
    
  
}

footer a {
    margin-right: 40px ;
}

footer p {
    font-size: 24px;
}

main{
    justify-content: center;
}

.article-but:hover{
    background-image: radial-gradient(white,black);
    color: white;
    border: 5px solid gray;
  text-shadow: 0 0 10px black;
  transition: 0.7s ease-in-out;
}

article:hover{
    background-color: white;
  border: 5px solid cyan;
  box-shadow: 0 0 40px 10px cyan;
  transition: 1s ease-out;
}

.nav-link:hover{
    border: 5px solid blue;
    border-radius: 20px;
    background-image: linear-gradient(to right bottom, purple, blue);
    color: gray;
    padding: 5px;
    display: inline-flex;
  text-shadow: 2px 2px 3px black;
  box-shadow: 0 3px 30px 0 blue;
  transition: 0.7s ease-in;
}

.button:hover{
    border-radius: 20px;
    background-color: white;
    color: black;
  box-shadow: 0 0 10px 3px blue;
  transition: 1s ease-in-out;
  transform: scale(1.3);
  transform: translateY(-50px),translateX(-50px);
    
}

.lpicture{
    opacity: 0.8;
}

.lpicture:hover{
    opacity: 1;
}

footer img:hover{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
  transition: 1s linear;
}

footer img{
    margin-top: 10px; 
}

footer:hover{
    background-color: gold;
    transition: 1s linear;
}

footer p:hover{
    text-shadow: -2px 1px blue, -5px 3px purple, -7px 5px cyan;
  transition: 2s linear;
}
 
.info img{
    border-radius: 10px;
}

.article-but:hover:focus{
    background-color: gray;
    border: 5px dotted orange;
    border-radius: 10px;
}

html{
    height: 100%;
  width: 100%;
}

iframe{
  border-radius: 50%;
  opacity: 0.3;
  position: fixed;
  top: 100px;
  left: 20px
}

iframe:hover{
  opacity: 1;
  box-shadow: 0 0 10px 10px orangered;
}

